<p>Welcome <%= @email %>!</p>
<div class="container cen">
<div class="form-group" style="width: 50%;">
<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
</div>
