<p>Hello <%= @resource.email %>!</p>
<div class="container cen">
  <div class="form-group" style="width: 50%;">
<p>We're contacting you to notify you that your password has been changed.</p>
</div>
</div>
